html {
    height: 100%;
}

body{
    min-height: 100%;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%) no-repeat center center fixed;
    background-size: 100% 100%;
}

.nav {
    background-color: #4169E1 !important;
}

.navbar {
    background-color: #4169E1; }

.navbar a {
    color: #fff;
}

.navbar-brand:hover {
    color: #fff;
}

.btn {
    background-color:#4169E1 !important;
}

.page-footer {
    background-color: #4169E1 !important;
}

.sign {
    margin-top: 5%;
}

.position {
    margin-top: 2%;
    font-size: 125%;
}

.white-text {
    color: #fff;
    margin-top: 2%;
}

.user {
    padding-top: 5%;
    margin-bottom: -5%;
    text-align: center;
}

.user-info {
    text-align: center;
}

.test{
padding-bottom: 5%;
}

.info-profil {
    margin-left: 5%;
    width: 90%;
}