.navbar {
  background-color: #01d4b1; }

.navbar a {
  color: #fff; }

.navbar-brand:hover {
  color: #fff; }

.btn {
  background-color: #01d4b1 !important; }

.page-footer {
  background-color: #01d4b1 !important; }
